extends layout

block content

  each item in user
    h1= title
    div(id='info') infobox
      p= item.firstname
    
    img(src='http://www.genkijacs.com/images/logo.png')
    div(id='day1') day1
    div(id='day2') day2
    div(id='day3') day3
    div(id='day4') day4
    div(id='day5') day5
  
