$ns: DataTable;
$lightPink: #fff4f5;

.#{$ns} {
  font-size: 14px;

  > table {
    width: 984px; 
  }

  .columnGroups {

    margin-left: 20px;
    float: right;
    margin-right: 204px;

    a {
      padding-right: 15px;
      padding-left: 15px;
      display: inline-block;
      font-size: 16px;
      text-decoration: none;
    }

    a.first {
      border-left: 0px;
    }

    a.selected {
      color: #000;
    }
  }

  th {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color: white;
    padding-top: 10px;
    text-indent: 8px;
    cursor: pointer;
    border-right: 1px solid #D68189;
    background-color: #D68189;
  }

  td {
  }

  td.save {
    background-color: white;
    border-bottom: 0px none;
  }

  td > div {
    padding: 6px 8px 6px 8px;
  }

  &__odd {
    background-color: $lightPink;
  }

  &__lastRow {
  }

  .DataTableTools {
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .FirstCell {
  }

  .LastCell {
  }

  input {
    width: 100%
  }
  
  .DataTableFilter {
    width: 250px;
    margin-bottom: 10px;
  }

  .TextFieldDateRangePicker {
    display: inline-block;

    input {
      width: 65px;
      margin-left: 5px;
    }

    .dateRangeContainer {
      position: relative;

      .DateRangePicker {
        z-index: 1;
        position: absolute;
        background-color: white;
        border: 1px solid black;
        width: 650px;
        padding-bottom: 20px;
      }
    }
  }

  .ClassRegistrationList {
    width: 110px;
    display: inline-block;
  }




}