.DataTable {
  font-size: 14px; }
  .DataTable > table {
    width: 984px; }
  .DataTable .EditButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 216px; }
    .DataTable .EditButtons button {
      margin-left: 10px; }
  .DataTable .DataTableFilter {
    margin-top: 24px;
    width: 250px;
    margin-bottom: 10px;
    display: block;
    float: left; }
  .DataTable .columnGroups {
    margin-top: 24px;
    display: block;
    float: left;
    margin-left: 20px; }
    .DataTable .columnGroups a {
      padding-right: 15px;
      padding-left: 15px;
      display: inline-block;
      font-size: 16px;
      text-decoration: none; }
    .DataTable .columnGroups a.first {
      border-left: 0px; }
    .DataTable .columnGroups a.selected {
      color: #000; }
  .DataTable th {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color: white;
    padding-top: 10px;
    text-indent: 8px;
    cursor: pointer;
    background-color: #D68189; }
  .DataTable td.save {
    background-color: white;
    border-bottom: 0px none; }
  .DataTable td > div {
    padding: 6px 8px 6px 8px; }
  .DataTable__odd {
    background-color: #fff4f5; }
  .DataTable__error {
    border-bottom: 2px solid #ff0000; }
  .DataTable .DataTableTools {
    margin-bottom: 5px; }
  .DataTable input {
    width: 100%; }
  .DataTable .ClassRegistration_ClassName {
    display: inline-block;
    width: 90px;
    white-space: nowrap; }
  .DataTable .TextFieldDateRangePicker {
    display: inline-block; }
    .DataTable .TextFieldDateRangePicker input {
      width: 65px;
      margin-left: 5px; }
    .DataTable .TextFieldDateRangePicker input.DateRangeField {
      width: 100%;
      margin-left: 0px; }
    .DataTable .TextFieldDateRangePicker .dateRangeContainer, .DataTable .TextFieldDateRangePicker .dateRangeContainerSingle {
      position: relative; }
      .DataTable .TextFieldDateRangePicker .dateRangeContainer .DateRangePicker, .DataTable .TextFieldDateRangePicker .dateRangeContainerSingle .DateRangePicker {
        z-index: 1;
        position: absolute;
        background-color: white;
        border: 1px solid black;
        padding-bottom: 20px; }
    .DataTable .TextFieldDateRangePicker .dateRangeContainer {
      width: 650px;
      position: absolute; }
  .DataTable .ClassRegistrationList {
    width: 110px;
    display: inline-block; }
