$ns: GenkiScheduler;

.#{$ns} {
  padding: 10px;

  header {
    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
      margin: 10px 25px 10px 25px;
    }

    margin-bottom: 50px;
  }

  .main {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}