$ns: GenkiScheduler;
$pink: #E94E77;
$brownPink: #D68189;
$brown: #C6A49A;
$cyan: #C6E5D9;
$tan: #F4EAD5;

$darkerBrown: #937167;

$lightGrey: #efefef;
$darkerGrey: #dedede;
$lightGreyTextColor: #aaaaaa;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

.#{$ns} {

  font-family: 'Open Sans', sans-serif;

  header {
    background-color: $pink;

    .TabHeaderBar {
      width: 1200px;
      margin-right: auto;
      margin-left: auto;
    }

    ul {
      list-style-type: none;
    }

    li {
      a {
        border: 0px;
        color: $tan;
        font-size: 20px;
        text-decoration: none;
      }

      a.active {
        border-bottom: 2px solid $tan;
      }

      display: inline-block;
      margin: 10px 25px 10px 25px;
    }

    margin-bottom: 50px;
  }

  .main {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;

    .btn {
      outline: none;
      border: none;
      color: #ffffff;
      font-size: 20px;
      background: $brown;
      padding: 5px 10px 5px 10px;
      text-decoration: none;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
    }

    .btn:hover {
      background: $darkerBrown;
      text-decoration: none;
    }
  }


  .DateHeader {
    position: relative;
    height: 50px;

    h2 {
      float: left;
      top: 20px;
      font-size: 20px;
      padding-top: 5px;
    }

    div.dateBtnGroup {
      button {
        margin-right: 2px;
      }

      left: 240px;
      position: absolute;
    }

    div.actionBtnGroup {
      button {
        margin-right: 2px;
      }

      float: right;
    }
  }

  .DaySchedule {

    .DayScheduleHeader {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      background-color: $brownPink;
      color: white;
      width: 984px;
      padding: 10px;
    }
  }

  .RoomRow {
    width: 100%;
    position: relative;
    height: 62px;

    .ClassPeriodCell > input {
      width: 120px;
      height: 30px;
      border-style: solid;
      border-color: $lightGrey;
      border-width: 0px;
      text-indent: 10px;
      color: $lightGreyTextColor;
    }


    .ClassPeriodCell {
      input.ClassList {
        border-width: 1px 1px 0px 1px;
        border-top-color: $darkerGrey;
      }

      input.StudentList {
        border-width: 1px 0px 0px 1px;
      }

      .Select {
        .Select-arrow {
          display: none;
        }

        .Select-control {
          border-width: 1px 1px 0px 1px;
        }

        .Select-placeholder, .Select-control {
          padding-top: 4px;
          border-radius: 0px;
          padding-bottom: 3px;
        }
      }

      display: block;
      width: 120px;
      float: left;
    }

    .ClassPeriodLastCell {
      input.ClassList, input.StudentList {
        border-width: 1px 1px 0px 1px;
        border-right-color: $darkerGrey;
      }
    }

    .ClassPeriodFirstCell {
      input.ClassList, input.StudentList {
        border-left-color: $darkerGrey;
      }
    }

    .RoomCell {
      width: 40px;
      height: 40px;
      .RoomCellOuter {
        position: relative;
        .RoomCellInner {
          position: absolute;
          top: 10px;
          left: 3px;
        }
      }
      border-width: 1px 0px 1px 1px;
      border-style: solid;
      border-color: $darkerGrey;
      background-color: $lightGrey;
      display: block;
      float: left;
      margin-top: 10px
    }

  }

  .RoomRowLast {

    .ClassPeriodFirstCell {
      input.ClassList, input.StudentList {
        border-left-color: $darkerGrey;
      }
    }

    .ClassPeriodLastCell {
      input.ClassList, input.StudentList {
        border-width: 1px 1px 0px 1px;
        border-right-color: $darkerGrey;
      }
    }

    .ClassPeriodCell {
      input.StudentList {
        border-width: 1px 1px 1px 1px;
        border-bottom-color: $darkerGrey;
      }
    }
  }

}