.GenkiScheduler {
  padding: 10px; }
  .GenkiScheduler header {
    margin-bottom: 50px; }
    .GenkiScheduler header ul {
      list-style-type: none; }
    .GenkiScheduler header li {
      display: inline-block;
      margin: 10px 25px 10px 25px; }
  .GenkiScheduler .main {
    width: 1200px;
    margin-right: auto;
    margin-left: auto; }
  .GenkiScheduler .RoomRow {
    width: 100%; }
  .GenkiScheduler .ClassPeriodCell {
    display: inline-block;
    width: 120px; }
  .GenkiScheduler .RoomCell {
    display: inline-block; }
